doctype html
html
	head
		title We Got Monsters!

	body
		h1 We Got Monsters!
		p Welcome to the We Got Monsters homepage.
		p This site checks Pixabay twice a day for images tagged "monsters", selects a random image, and posts it to Twitter.  The most recently tweeted image is shown below.
		// eventually a variable will be passed in case the image is ever not a jpg.
		img(src="#{image}")

		