doctype html
html
	head
		title We Got Monsters!
		script(src='javascripts/userData.js')
		link(href='stylesheets/style.css' rel='stylesheet' type='text/css')

	body
		h1 We Got Monsters!
		p Welcome to the We Got Monsters homepage.
		|<p> This site checks Pixabay twice a day for images tagged "monsters", selects a random image, and posts it to the <a href="https://twitter.com/We_Got_Monsters">@We_Got_Monsters</a> account on Twitter.  The most recently tweeted image is shown below.</p>

		a(href="" id="fullPicUrl")
			img(src="" id="smallImage")
		p Created by Pixabay user 
			a(href="" id="credit") (Unable to retrieve info to credit the image creator.)
		p Posted to Twitter on 
			span(id="postedAt")

		script(src='javascripts/insertUserData.js')